:root {
    --brown-100: #f9f4f4;
    --brown-500: #8E2424;

    --gray-100: #F9FAFB;
    --gray-300: #EAECF0;
    --gray-400: #d0d5dd;
    --gray-500: #667085;
    --gray-900: #101828;
    
    --white: #ffffff;
}